/* BACKGROUND COLOR #1B1D1F */
/* Text color #DCE6EC */
/* flexbox format used */

html {
    font-size: 10px;
}

body {
    background-color: #1B1D1F;
    color: #DCE6EC;
    font-family: 'Crimson Text', serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
}

.row {
    display: flex;
}

.col {
    flex-shrink: 1;
    flex-grow: 1; 
    flex-basis: auto;
}

.col-1 {
    flex-basis: 8.33333333%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.3334%;
}

.col-6 {
    flex-basis: 50%;
}

.col-8 {
    flex-basis: 66.66666667%;
}

.col-9 {
    flex-basis: 75%;
}

.col-11 {
    flex-basis: 91.666666%
}

.col-12 {
    flex-basis: 100%;
    padding: 10px;
}   

h1, h2, h3, h4{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin: auto 0;
}

h3 {
    text-align: left;
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
}

nav {
    margin-bottom: 40px;
}


nav a {
    Color: #DCE6EC;
    text-decoration: none;
}

#nav-links {
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

.nav-li {
    list-style-type: none;
    display: inline;
    margin: 0 10px;
}

nav ul {
    text-align: center;
}

.banner {
    background: url(../images/Banner_cropped.png);
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: darken;
    background-size: cover; 
    background-position: center;
    height: 650px;
}

.banner h2 {
    font-size: 4rem;
    text-align: left;
}

.banner h2, .banner p {
    margin-bottom: 20px;
}

.banner .col-6 {
    margin: auto 0;
    padding: 0 50px 0 125px;
}

.blog-line {
    margin: 75px 0;
}

.blog-line p {
    margin: 20px 0;
}

.blog-line img {
    width: 100%;
}

.blog-line button {
    margin-left: 10px;
}

.blog-line .col-6:first-child {
    height: 5%;
    margin: auto 0 auto 13%;
    padding-right: 50px;
}

.mission {
    background-image: url(../images/Missionbackground.jpg);
    background-color: rgba(0,0,0,.4);
    background-blend-mode: darken;
    background-size: cover; 
    background-position: center;
    height: 282px;
    display: flex;
}

.mission h2 {
    font-size: 4rem;
    width: 60%;
    margin: auto auto;
    padding: 0;
}

.emailcapture {
    height: 330px;
    text-align: center;
}

.emailcapture h2 {
    padding-top: 80px;
}

input {
    height: 48px;
    padding: 0 16px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.2;
    width: 30%;
}

footer {
    height: auto; 
    margin: auto 20px;
    padding: 50px 0;
}

footer h1 {
    text-align: left;
}

footer .col:nth-child(2) {
    text-align: center;
}

.social {
    text-align: right;
    height: 28px;
}

.socialimgs {
    height: 100%;
}

.footer .row {
    margin-top: 75px;
}

/* *************************************
COMMON ELEMENTS
**************************************** */

button {
    color: #DCE6EC;
    background-color: #6B8796;
    border: none;
    font-weight: 600;
    padding: 0 48px;
    height: 48px;
    margin: auto 0;
    cursor: pointer;
}

.divider {
    border-bottom: rgb(90, 90, 90) 1px solid; 
}

ul {
    list-style: disc inside;
}

p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
}

.nested-list li {
    margin-left: 20px; 
}

.page-title {
    padding: 20px 0;
}

.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

/* for vertically-oriented images */
.round-img {
    height: auto; 
    width: 100%;
    margin: 0 auto;
}

/* for horizontally-oriented images */
.round-img-horiz {
    height: 100%; 
    width: auto;
    margin: 0 auto;
    margin-left: -25%;
}

.hidden {
    display: none;
}

/* *************************************
ABOUT ME STYLING
**************************************** */

.aboutme .image-cropper {
    width: 500px;
    height: 500px;
}

.aboutme .round-img {
    margin-top: -15%;
}

.aboutme .row {
    margin-bottom: 20px;
}

.aboutme .col-6 {
    padding: 0 15px;
}

.aboutme .col-6:last-child {
    font-family: 'Open Sans', sans-serif;
    margin: auto 0;
}

.aboutme .col-6:last-child  h2 {
    text-align: left;
    margin-bottom: 20px;
}

/* *************************************
FILTER STYLING
**************************************** */

.filter {
    padding: 15px;
    background: linear-gradient(to top, rgb(38,40,42),rgb(38,40,42) 5%,rgb(27,29,31));
}

.filter h3 {
    font-size: 1.8rem;
    text-align: center;
}

.filter .col-4 {
    margin: auto 0;
}

.filter .col-8 {
    margin: auto 0;
    text-align: center;
}

.filter input {
    height: 15px;
    width: 15px; 
    margin: 0;
}

.filter label {
    font-size: 1.4rem;
    margin: 5px;
}


/* *************************************
PORTFOLIO STYLING
**************************************** */

.portfolio h3 {
    text-decoration: underline;
    font-weight: normal; 
    text-align: center;
}

/* *************************************
BLOG & PORTFOLIO STYLING
blog class tags used on portfolio page for simplicity. Outlined in same format
**************************************** */

.blog-preview {
    height: auto;
    min-height: 300px;
    box-sizing: border-box;
    padding: 20px 0;
}

.blog-preview .round-img {
    height: 100%; 
    width: 100%;
    margin: 0 auto;
}

.blog-preview .col-4 {
    margin: auto 0;
}

.blog-preview .col-8 {
    padding: 0 60px;
}

.post-preview {
    margin: auto 0;
}

.post-preview h2, .post-preview h3, .post-preview p, .blog-preview button {
    text-align: left;
    margin-bottom: 20px;
    text-decoration: none;
}

.prose, .prose-heading {
    padding: 15px 0;
}

.prose-heading {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
}

.bold {
    font-weight: 1000;
}

.underline {
    text-decoration: underline;
}

/* image classes for blog posts to fit with prose */
/* for images that take up entire width of container in between prose, i.e. not inline. */
.block-img {
    display: block;
    margin: 10px auto;
}

.inline-left {
    float: left;
    padding-right: 20px;
    max-width: 400px; 
}

.inline-right {
    float: right;
    padding-left: 20px;
    max-width: 400px; 
}

.img-ribbon {
    text-align: center;
}

.img-ribbon img {
    max-height: 400px;
    padding: 20px; 
}




/* *************************************
Media Queries
**************************************** */

@media (max-width: 768px) {
    a {
        display: inline;
    }
    
    .row {
        display: block; 
    }

    /* nav */

    nav {
        margin-bottom: 0;
    }

    .nav-li {
        font-size: 1.2rem;
    }

    .vert-divider {
        display: none;
    }

    /* footer */

    footer h1, footer p, footer .social {
        text-align: center;
    }

    footer .col-4 {
        margin: 8px auto;
    }

    /* home/blog/portfolio */
    .banner .col-6:first-child {
        padding: 200px 15px;
    }
    
    .blog-preview .col-4:first-child {
        display: block;
        padding-bottom: 30px;
    }

    .blog-preview .col-4:last-child, .banner .col-6:last-child {
        display: none;
    }

    .blog-line button, .blog-preview button {
        display: block;
        text-align: center;
        margin: 15px auto;
    }

    .blog-preview .col-8 h2, .blog-preview .col-8 form button, .banner .col-6 h2, .blog-line h3 {
        text-align: center;
    }

    /* filter */

    .filter .col-4 {
        padding-bottom: 15px;
    }

    .filter {
        display: none; 
    }

    /* about me */
    .aboutme .image-cropper {
        height: 250px;
        width: 250px;
        margin-bottom: 30px;
    }

    .aboutme .col-6:last-child h2 {
        text-align: center;
    }

}